* {
  margin: 0;
  padding: 0;
}

.header p {
  font-size: 3em;
  font-weight: bold;
  color: black;
  text-align: center;
}

#searchBar {
  width: 80%;
  min-height: 40%;
  height: 20px;
}
#searchButton {
  width: 20%;
  background-color: white;
  border: none;
}
.searchSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.recipeDetail {
  display: flex;
  flex-direction: row;
  font-size: large;
  padding: 0 auto;
}
